{{ $currentNode := . }}
<div class='{{ if eq $currentNode.URL "/" }} site-nav site-nav__index u-font {{ else }} site-nav u-font {{ end }}' id="nav-bar">
    {{ range .Site.Menus.nav }}
    <div class="site-nav__wrap">
        <a class="site-nav__el" href="{{ .URL }}" >{{ .Name }}</a>
    </div>
    {{ end }}
    <div class="site-nav__wrap">
        
        <form id="bing_search_form"><input id="keyword_input" name="keyword" type="search" placeholder="关键字"><button type="submit">提交</button></form>
        <a class="site-nav__el" href="javascript:void(0)" onclick="bingSearch(this)" >搜索</a>
        <script>
            function bingSearchInit(){
                var form = document.querySelector('#bing_search_form');

                form.addEventListener('submit', function(e) {
                    var formData = new FormData(e.target);
                    var keyword = formData.get('keyword');
                    location.href = 'https://www.bing.com/search?q=site%3ashwchurch3.github.io+' + encodeURIComponent(keyword) + '&qs=HS&sc=1-0&cvid=94EF15E528594740AFAD23760C8E98F3&FORM=QBLH&sp=1';
                    
                    e.preventDefault();
                    return false;
                })
            }
            function bingSearch(trigger) {
                if (isWeixin && isWeixin()) {
                    alert('微信不支持必应搜索，请使用浏览器打开。');
                    return;
                }
                var form = document.querySelector('#bing_search_form');
                form.style.display = 'block';
                trigger.style.display = 'none';
                var input = document.querySelector('#keyword_input');
                input.focus();
            }
            bingSearchInit();
        </script>
        <style>
            #bing_search_form {
                display: none;
            }
            #bing_search_form button[type="submit"] {
                visibility: hidden;
                margin-left: 5px;
            }
        </style>
    </div>
</div>