{{ partial "header.html" . }}

<!-- Display image -->
<h2 class="page-404">404 - 咦，您要打开的页面我竟然找不到，请原谅。方便的话请告知（在联系我们里）。</h2>

<!-- Social accounts -->
<div class="index-line u-font">
    {{- with .Site.Params.snsTitle -}}
    <span class="index-line__content u-font">{{ . }}</span>
    {{- end -}}
</div>
<div class="index-sns u-font">
    {{ range .Site.Menus.social }}
    <a class="index-sns__name" href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
</div>

<!-- Content list -->
<div class="index-line u-font">
    <span class="index-line__content u-font">首页</span>
</div>
<div class="index-posts">
    {{ $posts := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range (.Paginate $posts).Pages }}
    <div class="index-posts__list">
        <div class="l-time"><a href="{{.Permalink}}">{{ .Date.Format "2006.01.02 15:04" }}</a></div>
        <div class="l-title"><a href="{{.Permalink}}">{{.Title}}</a></div>
    </div>
    {{ end }}

    <div class="index-paginate">
        {{ partial "pagination.html" . }}
    </div>
</div>



{{ partial "footer.html" . }}
